@font-face {
    font-family: aboreto;
    src: url(fonts/Aboreto-Regular.ttf);
}

@media screen and (max-width: 800px) {
    .quotes {
        flex-direction: column;
    }
}

body {
    background-image: url(assets/images/mathematics.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-repeat: repeat;
}

header, footer {
    font-family: aboreto,Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    position: sticky;
    top: 0px;
    font-size: larger;
    background-color: black;
    color: white;
}

.main-img > img {
    border-radius: 7%;
    max-width: 80%;
    height: auto;
}

.intro {
    margin-left: 10%;
    margin-right: 10%;
    padding: 5px;
    color: white;
    background-color: black;
}

.intro > h2 {
    text-align: center;
}

.quotes {
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items:center;
    /* flex-direction: row; */
    flex-wrap: nowrap;
    justify-content:center;
    text-align: center;
}

.quote {
    padding: 10px;
    background-color: black;
    color: white;
    /* margin-top: 10px; */
    margin: 10px;
}

